{{template "header" . }}

<body>
  <div class="row">



    <div class="col-lg-2">{{template "navbar" . }}</div>
    <div class="col-lg-10">
 
  <div class="h-100 d-flex align-items-center mt-5 ">
    <div class="container ">
      {{if .success}}
      {{template "success_notif" .}}
      {{else if eq .success false}}
      {{template "danger_notif" .}}
      {{end}}
      <div class="col-xs-12 col-sm-9">
        <form class="form-horizontal" method="post" action="/Dashboard/{{.action}}">
          <div class="panel panel-default">
            <div class="card-header bg-dark text-white">
              {{if .products}}
              <h4 class="panel-title">ویرایش کالا</h4>
              {{else}}
              <h4 class="panel-title">افزودن کالا</h4>
              {{end}}
            </div>
            {{if .products}}
            {{range .products}}
            <div class="panel-body">
              <div class="form-group mt-3">
                <label class="col-sm-2 control-label">نام کالا</label>
                <div class="col-sm-10">
                  <input required name="Name" value="{{.Name}}" type="text" class="form-control">
                  <input required name="Id" value="{{.ID}}" type="text" class="d-none">
                  <input required name="InventoryNumber" value="{{.InventoryID}}" type="text" class="d-none">
                </div>
              </div>
              
              <div class="form-group mt-3">
                <label class="col-sm-2 control-label">سیستم اندازه‌گیری</label>
                <div class="col-sm-10">
                  <select name="MeasurementSystem" class="form-control" required>
                    <option value="roll" {{if eq .MeasurementSystem "roll"}}selected{{end}}>رول</option>
                    <option value="meter" {{if eq .MeasurementSystem "meter"}}selected{{end}}>متراژ</option>
                    <option value="weight" {{if eq .MeasurementSystem "weight"}}selected{{end}}>وزن</option>
                    <option value="count" {{if eq .MeasurementSystem "count"}}selected{{end}}>تعداد</option>
                    <option value="barrel" {{if eq .MeasurementSystem "barrel"}}selected{{end}}>بشکه</option>
                  </select>
                </div>
              </div>
              
              <div id="roll-section" class="col-md-6" style="display:{{if eq .MeasurementSystem "roll"}}block{{else}}none{{end}};">
                <div class="form-group mt-3">
                  <h5 class="text-primary"><i class="fas fa-boxes"></i> محاسبه بر اساس تعداد رول</h5>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">تعداد موجود (رول)</label>
                  <div class="col-sm-8">
                    <input name="Roll" type="number" value="{{.Roll}}" class="form-control" placeholder="تعداد رول های موجود">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">قیمت هر رول</label>
                  <div class="col-sm-8 input-group">
                    <input name="RolePrice" type="number" value="{{.RollePrice}}" class="form-control" placeholder="قیمت به ازای هر رول">
                    <span class="input-group-text">تومان</span>
                  </div>
                </div>
              </div>

              <div id="meter-section" class="col-md-6" style="display: {{if eq .MeasurementSystem "meter"}}block{{else}}none{{end}};">
                <div class="form-group mt-3">
                  <h5 class="text-success"><i class="fas fa-ruler-combined"></i> محاسبه بر اساس متراژ</h5>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">متراژ موجود</label>
                  <div class="col-sm-8">
                    <input name="Meter" type="number" value="{{.Meter}}" class="form-control" placeholder="متراژ کل موجود">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">قیمت هر متر</label>
                  <div class="col-sm-8 input-group">
                    <input name="MeterPrice" type="number" value="{{.MeterPrice}}" class="form-control" placeholder="قیمت به ازای هر متر">
                    <span class="input-group-text">تومان</span>
                  </div>
                </div>
              </div>

              <div id="weight-section" class="col-md-6" style="display: {{if eq .MeasurementSystem "weight"}}block{{else}}none{{end}};">
                <div class="form-group mt-3">
                  <h5 class="text-danger"><i class="fas fa-weight"></i> محاسبه بر اساس وزن</h5>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">وزن موجود</label>
                  <div class="col-sm-8">
                    <input name="Weight" type="number" value="{{.Weight}}" class="form-control" placeholder="وزن کل موجود">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">قیمت هر کیلو</label>
                  <div class="col-sm-8 input-group">
                    <input name="WeightPrice" type="number" value="{{.WeightPrice}}" class="form-control" placeholder="قیمت به ازای هر کیلو">
                    <span class="input-group-text">تومان</span>
                  </div>
                </div>
              </div>

              <div id="count-section" class="col-md-6" style="display: {{if eq .MeasurementSystem "count"}}block{{else}}none{{end}};">
                <div class="form-group mt-3">
                  <h5 class="text-warning"><i class="fas fa-cubes"></i> محاسبه بر اساس تعداد</h5>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">تعداد موجود</label>
                  <div class="col-sm-8">
                    <input name="Count" type="number" value="{{.Count}}" class="form-control" placeholder="تعداد کل موجود">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">قیمت هر عدد</label>
                  <div class="col-sm-8 input-group">
                    <input name="CountPrice" type="number" value="{{.CountPrice}}" class="form-control" placeholder="قیمت به ازای هر عدد">
                    <span class="input-group-text">تومان</span>
                  </div>
                </div>
              </div>

              <div id="barrel-section" class="col-md-6" style="display: {{if eq .MeasurementSystem "barrel"}}block{{else}}none{{end}};">
                <div class="form-group mt-3">
                  <h5 class="text-dark"><i class="fas fa-oil-can"></i> محاسبه بر اساس بشکه</h5>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">تعداد بشکه</label>
                  <div class="col-sm-8">
                    <input name="Barrel" type="number" value="{{.Barrel}}" class="form-control" placeholder="تعداد بشکه‌های موجود">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">قیمت هر بشکه</label>
                  <div class="col-sm-8 input-group">
                    <input name="BarrelPrice" type="number" value="{{.BarrelPrice}}" class="form-control" placeholder="قیمت به ازای هر بشکه">
                    <span class="input-group-text">تومان</span>
                  </div>
                </div>
              </div>
            </div>
            {{end}}
            {{else}}
            <div id="addproduct" class="panel-body">
              <div class="form-group mt-3">
                <label class="col-sm-2 control-label">نام کالا</label>
                <div class="col-sm-10">
                  <input required name="Name" placeholder="نام کامل محصول" type="text" class="form-control">
                </div>
              </div>
              
              <!-- <div class="form-group mt-3">
                <label class="col-sm-2 control-label">سیستم اندازه‌گیری</label>
                <div class="col-sm-10">
                  <select name="MeasurementSystem" class="form-control" required id="measurement-system">
                    <option value="">-- انتخاب کنید --</option>
                    <option value="roll">رول</option>
                    <option value="meter">متراژ</option>
                    <option value="weight">وزن</option>
                    <option value="count">تعداد</option>
                    <option value="barrel">بشکه</option>
                  </select>
                </div>
              </div> -->
              <div class="form-group">
                <label>سیستم اندازه‌گیری:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="MeasurementSystem" id="measurement-roll" value="roll" required>
                    <label class="form-check-label" for="measurement-roll">رول</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="MeasurementSystem" id="measurement-meter" value="meter">
                    <label class="form-check-label" for="measurement-meter">متراژ</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="MeasurementSystem" id="measurement-weight" value="weight">
                    <label class="form-check-label" for="measurement-weight">وزن</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="MeasurementSystem" id="measurement-count" value="count">
                    <label class="form-check-label" for="measurement-count">تعداد</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="MeasurementSystem" id="measurement-barrel" value="barrel">
                    <label class="form-check-label" for="measurement-barrel">بشکه</label>
                </div>
            </div>
              <div id="roll-section" class="col-md-6" style="display: none;">
                <div class="form-group mt-3">
                  <h5 class="text-primary"><i class="fas fa-boxes"></i> محاسبه بر اساس تعداد رول</h5>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">تعداد موجود (رول)</label>
                  <div class="col-sm-8">
                    <input name="Count" type="number" class="form-control" placeholder="تعداد رول های موجود">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">قیمت هر رول</label>
                  <div class="col-sm-8 input-group">
                    <input name="RolePrice" type="number" class="form-control" placeholder="قیمت به ازای هر رول">
                    <span class="input-group-text">تومان</span>
                  </div>
                </div>
              </div>

              <div id="meter-section" class="col-md-6" style="display: none;">
                <div class="form-group mt-3">
                  <h5 class="text-success"><i class="fas fa-ruler-combined"></i> محاسبه بر اساس متراژ</h5>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">متراژ موجود</label>
                  <div class="col-sm-8">
                    <input name="Meter" type="number" class="form-control" placeholder="متراژ کل موجود">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">قیمت هر متر</label>
                  <div class="col-sm-8 input-group">
                    <input name="MeterPrice" type="number" class="form-control" placeholder="قیمت به ازای هر متر">
                    <span class="input-group-text">تومان</span>
                  </div>
                </div>
              </div>

              <div id="weight-section" class="col-md-6" style="display: none;">
                <div class="form-group mt-3">
                  <h5 class="text-danger"><i class="fas fa-weight"></i> محاسبه بر اساس وزن</h5>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">وزن موجود</label>
                  <div class="col-sm-8">
                    <input name="Weight" type="number" class="form-control" placeholder="وزن کل موجود">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">قیمت هر کیلو</label>
                  <div class="col-sm-8 input-group">
                    <input name="WeightPrice" type="number" class="form-control" placeholder="قیمت به ازای هر کیلو">
                    <span class="input-group-text">تومان</span>
                  </div>
                </div>
              </div>

              <div id="count-section" class="col-md-6" style="display: none;">
                <div class="form-group mt-3">
                  <h5 class="text-warning"><i class="fas fa-cubes"></i> محاسبه بر اساس تعداد</h5>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">تعداد موجود</label>
                  <div class="col-sm-8">
                    <input name="ItemCount" type="number" class="form-control" placeholder="تعداد کل موجود">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">قیمت هر عدد</label>
                  <div class="col-sm-8 input-group">
                    <input name="ItemPrice" type="number" class="form-control" placeholder="قیمت به ازای هر عدد">
                    <span class="input-group-text">تومان</span>
                  </div>
                </div>
              </div>

              <div id="barrel-section" class="col-md-6" style="display: none;">
                <div class="form-group mt-3">
                  <h5 class="text-dark"><i class="fas fa-oil-can"></i> محاسبه بر اساس بشکه</h5>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">تعداد بشکه</label>
                  <div class="col-sm-8">
                    <input name="Barrel" type="number" class="form-control" placeholder="تعداد بشکه‌های موجود">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label class="col-sm-4 control-label">قیمت هر بشکه</label>
                  <div class="col-sm-8 input-group">
                    <input name="BarrelPrice" type="number" class="form-control" placeholder="قیمت به ازای هر بشکه">
                    <span class="input-group-text">تومان</span>
                  </div>
                </div>
              </div>

              <input value="{{.InventoryNumber}}" class="d-none" name="InventoryNumber">
            </div>
            {{end}}
            <button type="submit" class="mt-5 btn btn-success">ارسال درخواست</button>
          </div>
        </form>
      </div>
    </div>
  </div>
 </div></div> 
  
  {{template "footer.html"}}