{{template "header" . }}
{{template "navbar" . }}

<body>
  <div class="h-100 d-flex align-items-center mt-5 users_box">
    <div class="container mt-5">
      {{if .success}}
      {{template "success_notif" .}}
      {{else if eq .success false}}
      {{template "danger_notif" .}}
      {{end}}
      <form class="card card-sm">
        <div class="card-body row no-gutters align-items-center">
          <div class="col-auto">
            <i class="fas fa-search h4 text-body"></i>
          </div>
          <!--end of col-->
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" id="findval" type="search"
              placeholder="نام کاربر - شماره تماس">
          </div>
          <!--end of col-->
          <div class="col-auto">
            <button class="btn btn-lg btn-success" id="Userfind" type="submit">جستجو کنید</button>
          </div>
          <!--end of col-->
        </div>
      </form>

      <table dir="rtl" id="userlist" class="table table-sm table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">نام کاربر</th>
            <th scope="col">شماره تماس</th>
            <th scope="col">آدرس</th>
            <th scope="col">حذف</th>
          </tr>
        </thead>
        <tbody dir="rtl">
          {{range .users}}
          <tr>
            <th scope="row">{{.ID}}</th>
            <td>{{.Name}}</td>
            <td dir="ltr" style="text-align:right;">{{.Phonenumber}}</td>
            <td dir="ltr" type="password" style="text-align:right;">{{.Address}}</td>
            <td type="password" style="text-align:right;">

              <a href="./deleteuser?user-id={{.ID}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                </svg></a>
   
              <a href="./edituser?user-id={{.ID}}"  >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
                  viewBox="0 0 16 16">
                  <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                </svg>
              </a>



            </td>
          </tr>
          {{end}}
        </tbody>
      </table>

    </div>
  </div>
  <div class="container ">
    <nav aria-label="Page navigation example" class="justify-content-center d-flex" id="userspaginate">
      <ul class="pagination">

        {{.Paginate }}

      </ul>
    </nav>
  </div>
  {{template "footer.html"}}