{{ define "navbar" }}
 

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark px-5">
  <a class="navbar-brand" href="/Dashboard"> <img src="../../assets/images/techrootlogo.png"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Dashboard">صفحه اصلی <span class="sr-only">(فعال)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">کاربران</a>
        <ul class="dropdown-menu">
          {{ if eq .UserRole "Admin"}}
          <li><a class="dropdown-item" href="/Dashboard/admin_users">کاربران ادمین</a></li>
          <li><a class="dropdown-item" href="/Dashboard/authors">اپراتور</a></li>
          {{end}}
          <li><a class="dropdown-item" href="/Dashboard/users">مشتریان</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          {{ if eq .UserRole "Admin"}}
          <li><a class="dropdown-item" href="/Dashboard/add_user">افزودن کاربر</a></li>
          {{end}}

        </ul>
      </li>

      {{ if eq .UserRole "Admin"}}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">انبار
          ها</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Dashboard/createinventory">افزودن انبار</a></li>

          <li><a class="dropdown-item" href="/Dashboard/inventories">لیست انبار ها</a></li>


        </ul>
      </li>
      {{end}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">موجودی </a>
        <ul class="dropdown-menu">

          {{range $.inventories}}
          <li><a class="dropdown-item" href="/Dashboard/inventory?inventory={{.ID}}">{{.Name}}</a></li>
          {{end}}
          <!-- <li><a class="dropdown-item" href="/Dashboard/inventory?inventory=2">انبار شماره تبریز</a></li> -->
        </ul>
      </li>
      {{ if eq $.UserRole "Admin" }}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">افزودن کالا</a>
        <ul class="dropdown-menu">
          {{range $.inventories}}
          <li><a class="dropdown-item" href="/Dashboard/addproduct?inventory={{.ID}}">{{.Name}}</a></li>
          {{end}}
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/Dashboard/production"> تولید</a></li>
          <!-- <li><a class="dropdown-item" href="./addproduct"> کالای جدید</a></li> -->
        </ul>
      </li>
      {{end}}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">فاکتور</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Dashboard/export">ثبت فاکتور</a></li>
          <li><a class="dropdown-item" href="/Dashboard/export?draft=true">ثبت پیش فاکتور</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/Dashboard/export-list?draft=true">لیست پیش فاکتور</a></li>
          <li><a class="dropdown-item" href="/Dashboard/export-list">لیست فاکتورها</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link " href="/Dashboard/payments">پرداختها</a>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link " href="/Dashboard/charts">نمودار</a>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link " href="/Dashboard/backup">آخرین بک آپ ها</a>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link " target="_blank"  href="/Dashboard/logs">Logs</a>

      </li>
    </ul>
    <span class=" navbar navbar-dark bg-secondary ms-auto ">
      <li class="nav-item dropdown list-unstyled">
        <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
          aria-expanded="false">کاربر {{.Username}} خوش آمدید<img class="mb-2 ms-2"
            src="../../assets/images/user.png"></a>
        <ul class="dropdown-menu">
          <li class=""><a class="dropdown-item" href="/Dashboard/signout">خروج</a></li>
        </ul>
      </li>

    </span>

  </div>
</nav>
{{if .error}}
<div class="alert alert-danger">
  {{.error}}
</div>
{{end}}
{{ end }}