{{template "header" . }}
{{template "navbar" . }}

<body>
    <div class="h-100 d-flex align-items-center mt-5">
        <div class="container ">

            {{if .success}}
            {{template "success_notif" .}}
            {{else if eq .success false}}
            {{template "danger_notif" .}}
            {{end}}
            <style>
                .pagination li.active,
                .pagination li.inpending {
                    display: block;
                }
            </style>
            <div class="row justify-content-center mb-5 ">
                <div class="col-lg-3 col-6">
                    <div class="jumbotron text-center ">
                        <a class="btn  btn-success btn-lg text-white" href="./payments/?status=collected"
                            role="button">چک های
                            وصولی
                            <img src="../../assets/images/collected.svg">

                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="jumbotron text-center">
                        <a class="btn  btn-danger btn-lg text-white" href="./payments/?status=rejected" role="button">چک
                            های
                            برگشتی
                            <img src="../assets/images/angry.svg">

                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-12 mt-3 mt-lg-0">
                    <div class="jumbotron text-center">
                        <a class="btn  btn-warning btn-lg text-white" href="./payments/?status=pending" role="button">
                            در انتظار
                            <img src="../assets/images/waite.svg">

                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-10 col-lg-8 mt-4">
                    <form class="card card-sm">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" id="findval"
                                    type="search" placeholder="شماره فاکتور - شماره سریال - شماره تماس">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success" id="findpayment" type="submit">جستجو
                                    کنید</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </div>
                <!--end of col-->
            </div>
            <div class="users_box">
                <table dir="rtl" class="table table-sm table-dark " id="exportlist">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نوع پرداخت</th>
                            <th scope="col"> شماره سریال</th>
                            <th scope="col">نام بانک</th>
                            <th class="  d-md-table-cell" scope="col">مبلغ</th>
                            <th class="  d-md-table-cell" scope="col">پرداخت کننده</th>
                            <th class="  d-md-table-cell" scope="col">تاریخ خرید</th>
                            <th class="  d-md-table-cell" scope="col">شماره فاکتور</th>
                            <th class="  d-md-table-cell" scope="col">نمایش فاکتور</th>
                            <th class="  d-md-table-cell" scope="col">وضعیت</th>
                            {{ if eq $.UserRole "Admin" }}

                            <th class="" scope="col">ویرایش</th>
                            {{end}}
                        </tr>
                    </thead>

                    <tbody dir="rtl">
                        {{range .Payments}}
                        <tr>
                            <th scope="row">{{.ID}}</th>
                            <td>{{.Method}}</td>
                            <td>{{.Number}}</td>
                            <td dir="ltr" class="Phonenumber" style="text-align:right;">{{.Name}}</td>
                            <td   class="TotalPrice d-md-table-cell"   dir="ltr"  style="text-align:right;">{{printf "%.0f" .TotalPrice}}</td>
                            <td dir="ltr" class="Address  d-md-table-cell" style="text-align:right;">{{.UserName}}
                            </td>
                      
                            <td dir="" class="CreatedAt  d-md-table-cell" style="text-align:right;">{{.CreatedAt}}
                            </td>
                            <td dir="" class="   d-md-table-cell" style="text-align:right;">{{.ExportNumber}}
                            </td>
                            <td class="InventoryNumber   d-md-table-cell" style="text-align:right;">

                                <a class="me-3" href="./exportshow?ExportId={{.ExportID}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-eye" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                        <path
                                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                    </svg></a>
                                <div class="modal fade" id="editModal{{.ID}}" tabindex="-1"
                                    aria-labelledby="editModalLabel{{.ID}}" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModalLabel{{.ID}}">Edit Export #{{.ID}}
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Your edit form goes here -->
                                                <form action="./updatepayment" method="POST">
                                                    <input type="hidden" name="PaymentID" value="{{.ID}}">

                                                    <div class="row">
                                                        <div class="mb-3 col-lg-6 ">
                                                            <label for="exportName{{.ID}}"
                                                                class="form-label text-dark">نام
                                                                بانک</label>
                                                            <input type="text" class="form-control"
                                                                id="exportName{{.ID}}" name="PaymentName"
                                                                value="{{.Name}}">
                                                        </div>

                                                        <div class="mb-3 col-lg-6 ">
                                                            <label for="exportTotalPrice{{.ID}}"
                                                                class="form-label text-dark">مبلغ
                                                            </label>
                                                            <input type="number" class="form-control"
                                                                id="exportTotalPrice{{.ID}}" name="PaymentTotalPrice"
                                                                value="{{.TotalPrice}}">
                                                        </div>
                                                        <div class="mb-3 col-lg-6 ">
                                                            <label for="exportName{{.ID}}"
                                                                class="form-label text-dark">روش
                                                                پرداخت</label>
                                                            <input type="text" readonly class="form-control"
                                                                id="exportMethod{{.ID}}" name="Method"
                                                                value="{{.Method}}">
                                                        </div>

                                                        <div class="mb-3 col-lg-6 ">
                                                            <label for="exportTotalPrice{{.ID}}"
                                                                class="form-label text-dark">شماره سریال
                                                            </label>
                                                            <input type="number" class="form-control"
                                                                id="exportTotalPrice{{.ID}}" name="PaymentNumber"
                                                                value="{{.Number}}">
                                                        </div>
                                                        <div class="mb-3 col-lg-6 ">
                                                            <label for="exportName{{.ID}}"
                                                                class="form-label text-dark">تاریخ
                                                            </label>
                                                            <input type="text" class="form-control"
                                                                id="CreatedAt{{.ID}}" name="CreatedAt"
                                                                value="{{.CreatedAt}}">
                                                        </div>

                                                        <div class="mb-3 col-lg-6 ">
                                                            <label for="exportTotalPrice{{.ID}}"
                                                                class="form-label text-dark">وضعیت
                                                            </label>
                                                            <select class="form-select status-select"
                                                                name="PaymentStatus" data-index="${index}">
                                                                <option value="pending">در انتظار</option>
                                                                <option value="collected">وصول شده</option>
                                                                <option value="rejected">برگشت خورده</option>
                                                            </select>
                                                        </div>
                                                    </div>



                                                    <!-- Add more fields as needed -->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">بستن</button>
                                                <button type="submit" class="btn btn-primary"
                                                    onclick="document.forms[0].submit()">ذخیره</button>
                                            </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </td>
                            {{if eq .Status "collected"}}
                            <td dir="" class="InventoryNumber  d-md-table-cell bg-success text-center">
                                <img src="../../assets/images/collected.svg">
                            </td>
                            {{end}}
                            {{if eq .Status "rejected"}}
                            <td dir="" class="InventoryNumber   d-md-table-cell bg-danger text-center">
                                <img src="../assets/images/angry.svg">
                            </td>
                            {{end}}
                            {{if eq .Status "pending"}}
                            <td dir="" class="InventoryNumber   d-md-table-cell bg-warning text-center">
                                <img src="../assets/images/waite.svg">
                            </td>
                            {{end}}
                            {{ if eq $.UserRole "Admin" }}

                            <td dir="ltr" class="Edit text-center "><a href="#" data-bs-toggle="modal"
                                    data-bs-target="#editModal{{.ID}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-pen" viewBox="0 0 16 16">
                                        <path
                                            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                                    </svg>
                                </a>
                                <a class="me-3" href="./deletePayments?PaymentId={{.ID}}"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path
                                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                    </svg></a>

                            </td>
                            {{end}}

                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="container ">
        <nav aria-label="Page navigation example" class="justify-content-center d-flex" id="exportspaginate">
            <ul class="pagination">

                {{.Paginate }}

            </ul>
        </nav>
    </div>

    <!-- Modal -->

    {{template "footer.html"}}