{{template "header.html"}}
{{template "navbar.html"}}
<body>
    <div class="h-100 d-flex align-items-center mt-5">
        <div class="container mt-5">


            <table dir="rtl"  class="table table-sm table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">نام </th>
                    <th scope="col">نقش کاربر</th>
                    <th scope="col">شماره تماس</th>
                    <th scope="col">نام کاربری</th>
                    <th scope="col">رمز ورود</th>
                    <th scope="col">ویرایش</th>
                  </tr>
                </thead>
                <tbody dir="rtl">
                  {{range .users}}
                  
                  <tr>
                    <th scope="row">{{.ID}}</th>
                    <td>{{.Name}}</td>
                    <td dir="ltr" style="text-align:right;" >مدیر</td>
                    <td dir="ltr" style="text-align:right;" >{{.Phonenumber}}</td>
                    <td dir="ltr" style="text-align:right;" >{{.Email}}</td>
                    <td dir="ltr" type="password" style="text-align:right;" >######</td>
                    <td dir="ltr" type="password" style="text-align:right;" ><a href="./edituser?user-id={{.ID}}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                      </svg></a></td>
                  </tr>
                  {{end}}
                </tbody>
              </table>

        </div>
    </div>
  {{template "footer.html"}}