{{template "header" . }}
{{template "navbar" . }}

<body>
  <div class="h-100 d-flex align-items-center mt-5">
    <div class="container mt-5">
      <div class="card" style="border: 1px solid rgba(0,0,0,.125);" id="card">
        <div class="card-body">
          <div class="container mb-5 mt-3">
            <div style="display: flex !important;flex-wrap: wrap;" class="row d-flex align-items-baseline">
              <div class="col-xl-9">
                {{range .exports}}
                <p style="color: #7e8d9f;font-size: 20px;">شماره فاکتور >> <strong>{{.Number}}</strong></p>
                {{end}}
              </div>
              <div class="col-xl-3 float-end">
                <a data-mdb-ripple-init href="./Download" class="btn btn-light text-capitalize border-0"
                  onclick="printpage()" data-mdb-ripple-color="dark"><i class="fas fa-print text-primary"></i> پرینت</a>
                <a data-mdb-ripple-init class="btn btn-light text-capitalize sharebtn" data-mdb-ripple-color="dark"><i
                    class="far fa-file-pdf text-danger"></i> اشتراک گذاری </a>
              </div>
              <hr>
            </div>

            <div class="container">
              <div class="col-md-12">
                <div class="text-center">
                  <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
                  <p class="pt-0">ایزوگام شرق</p>
                </div>

              </div>

              {{range .exports}}
              <div class="row">
                <div class="col-xl-8" style="flex: 0 0 auto;
                width: 66.66666667%;">
                  <ul class="list-unstyled">
                    <li class="text-muted">خریدار: <span style="color:#5d9fc5 ;">{{.Name}}</span></li>
                    <li class="text-muted">{{.Address}}</li>
                    <li class="text-muted " dir="ltr"><i class="fas fa-phone"></i>{{.Phonenumber}}</li>
                  </ul>
                </div>
                <div class="col-xl-4">
                  <p class="text-muted">فاکتور</p>

                  <ul class="list-unstyled">
                    <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                        class="fw-bold prn" >{{.Number}}</span></li>
                    <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                        class="fw-bold">تاریخ خرید: </span>{{.CreatedAt}}</li>
                    <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                        class="me-1 fw-bold" >وضعیت:</span><span style="background-color: #ffc107 !important;" class="badge bg-warning text-black fw-bold">
                        فروخته شده</span></li>
                  </ul>

                </div>
              </div>
              {{end}}
              <div class="row my-2 mx-1 justify-content-center">
                <table class="table table-striped table-borderless">
                  <thead style="background-color:#84B0CA ;" class="text-white">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">توضیحات</th>
                      <th scope="col">تعداد</th>
                      <th scope="col">قیمت عدد</th>
                      <th scope="col">قیمت کل</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{ range .products}}
                    <tr>
                      <th scope="row">{{.ID}}</th>
                      <td>{{.Name}}</td>
                      <td class="prn">{{.Count}}</td>
                      <td class="price">{{.RolePrice}}</td>
                      <td dir="ltr" class="TotalPrice" style="text-align:right;">{{.TotalPrice}}</td>
                    </tr>
                    {{end}}
                  </tbody>

                </table>
              </div>
              <div class="row">
                <div class="col-xl-8">
                  <p class="ms-3"> در این قسمت توضیخات مربوط به خرید اضافه می شود</p>

                </div>
                {{range .exports}}
                <div class="col-xl-3">

                  <ul class="list-unstyled">

                    <li class="text-muted ms-3 mt-2" dir="ltr"><span class="text-black me-4 prn">{{.Tax}}% </span>: ارزش
                      افزوده </li>
                  </ul>
                  <p class="text-black float-start" dir="ltr"><span class="text-black me-3"></span><span
                       class="price" style="font-size: 25px;">{{.TotalPrice}}</span> : قیمت کل </p>تومان
                </div>
                {{end}}
              </div>
              <hr>
              <div class="row">
                <div class="col-xl-10">
                  <p>باتشکر از خرید شما</p>
                </div>
                <div class="col-xl-2">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      {{template "footer.html"}}