<nav class="navbar navbar-expand-lg  navbar-dark bg-primary px-5">
    <a class="navbar-brand" href="">نرم افزار انبار داری</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Dashboard">صفحه اصلی <span class="sr-only">(فعال)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/users">کاربران</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Inventory">موجودی انبار</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/export">خریدها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/options">تنظیمات</a>
            </li>
        </ul>
        <span class="navbar-text ms-auto float-right">
            کاربر ادمین  فلانی خوش آمدید
        </span>
    </div>
</nav>