<nav class="navbar navbar-expand-lg  navbar-dark bg-primary px-5">
    <a class="navbar-brand" href="">نرم افزار انبار داری</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Dashboard">صفحه اصلی <span class="sr-only">(فعال)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">کاربران</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./users">کاربران عمومی</a></li>
                  <li><a class="dropdown-item" href="./admin_users">کاربران ادمین</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="./add_user">افزودن کاربر</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">موجودی انبار</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./inventory1">انبار شماره 1</a></li>
                  <li><a class="dropdown-item" href="./inventory2">انبار شماره 2</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">افزودن کالا</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./addproduct?inventory=1">انبار شماره 1</a></li>
                  <li><a class="dropdown-item" href="./addproduct?inventory=2">انبار شماره 2</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">خرید ها</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="./export">ثبت فاکتور</a></li>
                  <li><a class="dropdown-item" href="./export-list">لیست فاکتورها</a></li>
                </ul>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="./options">تنظیمات</a>
            </li>
        </ul>
        <span class="navbar-text ms-auto float-right">
            کاربر ادمین خوش آمدید
        </span>
    </div>
</nav>